on init
    insmod /nand.ko
    insmod /disp.ko
    insmod /lcd.ko
    insmod /sunxi-keyboard.ko
    insmod /sw-device.ko debug_mask=0xff ctp_mask=1
    insmod /aw5306_ts.ko
    insmod /gt9xxf_ts.ko
    insmod /gt9xx_ts.ko
    insmod /gt82x.ko
    insmod /gt818_ts.ko
    insmod /gslX680new.ko

    mkdir /databk

service erase_misc /sbin/sh -c "echo -en '\0' > /dev/block/nandf; sync"
    oneshot
    seclabel u:r:recovery:s0
